{% extends 'snippets/base.html' %}

{% block contentMainMenu %}

{% endblock contentMainMenu %}

{% block contentDrinkMenu %}

{%endblock contentDrinkMenu%}

{% block menu1 %}

{%endblock menu1%}

{% block menu2 %}

{%endblock menu2%}

{% block menu3 %}

{%endblock menu3%}

{% block form %}
<form method="post" id="form" action="">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" class="btn-primary">submit</button>
</form>
{%endblock form%}

{% block script %}
<script>
    const form = document.getElementById('form');
    form.addEventListener('submit', submitHandler);

    function submitHandler(e) {
        e.preventDefault();

        fetch(form.action, { method: 'POST', body: new FormData(form) })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                if (data.message === 'success') {
                    alert('success');
                    form.reset()
                }
            })
    }
</script>
{%endblock script%}